<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">forside!</a>

    <a href="/joke">Jokes her!</a>

  <a href="/allJokes">alle jokes!</a>

  <a href="postJoke">Post din egen joke!</a>
  </body>
</html>
