<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/">Forside</a>
<p>Her er alle jokes:</p>
<ul>
    <%for (var i = 0; i <= lol.length-1; i++){%>
    <li><%=lol[i]%></li>
    <%}%>
</ul>
</body>
</html>